.*.swp
.cache/
.pytest_cache/
logs/
rootfs.cpio.xz
__pycache__/

buildroot/arm/..config.tmp
buildroot/arm/.br-external.mk
buildroot/arm/.config.old
buildroot/arm/Makefile
buildroot/arm/build/
buildroot/arm/host/
buildroot/arm/images/
buildroot/arm/staging
buildroot/arm/target/

buildroot/arm64/..config.tmp
buildroot/arm64/.br-external.mk
buildroot/arm64/.config.old
buildroot/arm64/Makefile
buildroot/arm64/build/
buildroot/arm64/host/
buildroot/arm64/images/
buildroot/arm64/staging
buildroot/arm64/target/

buildroot/x86/..config.tmp
buildroot/x86/.br-external.mk
buildroot/x86/.config.old
buildroot/x86/Makefile
buildroot/x86/build/
buildroot/x86/host/
buildroot/x86/images/
buildroot/x86/staging
buildroot/x86/target/
